body {
  background-color:black;
  text-align: center;
}

p {
  color: white;;
  color:white; 
  width: 100000000000000;

}

  h2 {
    color:yellow;   

  }

  h1 {
    color:yellow;
    ;
  }
li{ color: purple;
  
}
